extends layout.pug

block content
  section#content
    if name
      h2= `Hello, ${name}`
    else
      form(action="/trackName",method="post")
        label Enter your name:
          input(type="text",name="username")
        button(type="submit") Submit